* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: #444;
  border-top: 10px solid #1098ad;
  position: relative;
}
.container {
  width: 800px;
  margin: 0 auto;
}
.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 60px;
}
aside {
  background-color: #f7f7f7;
  border-top: 4px solid #1098ad;
  border-bottom: 4px solid #1098ad;
  padding: 50px 0;
}
article {
  margin-bottom: 60px;
}
.author {
  font-size: 18px;
  font-style: italic;
}
.post-header {
  margin-bottom: 30px;
}
h1 {
  font-size: 26px;
  color: #1098ad;
  font-style: italic;
  text-transform: uppercase;
  font-style: italic;
}
h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}
h2 {
  font-size: 40px;
  color: #1098ad;
  margin-bottom: 30px;
  position: relative;
}
h2::after {
  content: "TOP";
  background-color: #ffe70e;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  position: absolute;
  top: -15px;
  right: -25px;
  color: #444;
}
.post-img {
  width: 100%;
  height: auto;
}
h3 {
  font-size: 30px;
  color: #1098ad;
  margin-bottom: 20px;
  margin-top: 40px;
}
h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
p {
  font-size: 22px;
  line-height: 1.5;
  color: #444444;
  margin-bottom: 15px;
}
ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}
li {
  font-size: 22px;
  color: #444444;
  margin-bottom: 10px;
}
li:first-child {
  font-weight: bold;
}
li:last-child {
  font-style: italic;
  margin-bottom: 0;
}

a:link,
a:visited {
  text-decoration: none;
  color: #1098ad;
}
a:hover,
a:active {
  text-decoration: underline;
  color: orangered;
}
footer p {
  font-size: 16px;
}
button {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  right: 50px;
}
